<div class="container container-navbar">
  <div class="navbar">
    <h1>logo projet</h1>
    <div class="container container-button"></div>
      <div class="lien">
        <%= link_to "Offices", offices_path %>
      </div>
    </div>
  </div>
</div>


