.button {
  padding: 8px 24px;
  border-radius: 4px;
  background-color: rgb(98, 190, 179);
  width: 140px;
}

.button a {
  color: white;
  text-decoration: none;
}

.button:hover {
  background-color: rgb(255, 134, 102);
}
