.button {
  padding: 8px 24px;
  border-radius: 4px;
  background-color: rgb(236, 98, 61);
}

.button a {
  color: white;
  text-decoration: none;
}

.button:hover {
  background-color: rgb(255, 134, 102);
}
