.button {
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #62BEB3;
  width: 140px;
}

.button a {
  color: white;
  text-decoration: none;
}

.button:hover {
  background-color: #45B794;
}
