.container-banner {
  padding: 0px;
  width: 100%;
}

.banner {
  text-align: right;
  display: flex;
}

.banner h2 {
  text-align: left;
  padding-top: 90px;
  padding-left: 146px;
  font-size: 40px;
}

.title {
  text-align: center;
}

.button-home {
  margin: 0 auto;
  margin-top: 120px;
}

.banner img {
  margin-left: 100px;
}

.grid-container h1 {
  margin-top: 20px;
}

.h1 {
  color: rgb(98, 190, 179);
}

.grid-container {
  background: linear-gradient(to bottom, #f0f8ff 0%, #e5d0ec 100%);
  text-align: center;
  display: grid;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
}

.content-container {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  grid-column-gap: 100px;
}

.grid-item {
  background-color: white;
  border-radius: 4px;
  margin: 20px;
  padding: 80px;
}

.grid-item h1 {
  margin-bottom: 40px;
}

.content {
  display: grid;
  margin: 20px;
  margin-bottom: 20px;
}

.content-item {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
  width: 800px;
  padding: 40px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.content-item h1 {
  margin: 0px;
  border-radius: 4px;
  padding: 20px;
}

.content-item p {
  margin: 0px;
  border-radius: 4px;
  padding: 20px;
}
