.container-banner {
  padding: 0px;
  width: 100%;
}

.banner {
  text-align: right;
  display: flex;
}

.banner h2 {
  text-align: left;
  padding-top: 90px;
  padding-left: 180px;
  font-size: 40px;
}

.banner img {
  margin-left: 100px;
}

.grid-container {
  text-align: center;
  display: grid;
  display: flex;
  grid-column-gap: 290px;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.grid-item {
  border: solid 1px;
  border-radius: 4px;
  margin: 20px;
  padding: 20px;
}

.grid-item h1 {
  margin-bottom: 40px;
}

.content {
  display: grid;
  margin: 20px;
  border: solid 1px;
  border-radius: 4px;
}

.content-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content-item h1 {
  margin: 0px;
}

.content-item p {
  margin: 0px;
}
